* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

html {
  font-family: 'Open Sans', sans-serif; }

html {
  box-sizing: border-box; }

body {
  box-sizing: inherit;
  background: #eee;
  padding: 1.5rem;
  width: 100%; }

#brittany {
  width: 50rem;
  position: absolute;
  top: 0;
  left: 10%; }

#brittany path {
  fill: #333;
  opacity: 0;
  animation: letters-outline 3s forwards; }

#brittany line {
  stroke-dasharray: 330;
  stroke-dashoffset: 330;
  animation: line-stroke 3s forwards;
  stroke: #333;
  stroke-width: 2;
  stroke-miterlimit: 10; }

.header {
  height: 100vh;
  width: 100%;
  background-color: white;
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

@keyframes letters-outline {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes line-stroke {
  from {
    opacity: 0;
    stroke-dashoffset: 330; }
  to {
    opacity: 1;
    stroke-dashoffset: 0; } }
