* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

html {
  font-family: 'Open Sans', sans-serif; }

.bg-container {
  width: 100vw;
  height: 100vh;
  background-color: #fff; }
  .bg-container__left {
    font-size: 80rem;
    top: 0;
    left: 0;
    width: 50%;
    background-color: #333;
    color: transparent;
    -webkit-background-clip: text;
    border: 1px dashed red; }
  .bg-container__right {
    font-size: 80rem;
    top: 0;
    right: 0;
    color: #333;
    width: 50%;
    border: 1px dashed red; }
    .bg-container__right--text {
      border: 1px dashed blue;
      font-size: 1rem;
      display: block;
      height: 1rem; }
