
#cid {

}

body {
  //background: #444;
}

#brittany {
  width: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#brittany path {
  fill: black;
  stroke: none;
  // stroke-width: 2px;
  // stroke-dasharray: 1057;
  // stroke-dashoffset: 1057;
  opacity: 0;
  animation: letters-outline 3s forwards;
}

#brittany line {
	stroke-dasharray: 330;
	stroke-dashoffset: 330;
  animation: line-stroke 3s forwards;
}


@keyframes letters-outline {
  from {
		opacity: 0;
  }
  to {
		opacity: 1;
  }
}

@keyframes line-stroke {
	from {
		opacity: 0;
		stroke-dashoffset: 330
	}
	to {
		opacity: 1;
		stroke-dashoffset: 0;
	}
}
