html {
	box-sizing: border-box;
}

body {
	box-sizing: inherit;
  background: #eee;
	padding: 1.5rem;
	width: 100%;
}

#brittany {
  width: 50rem;
  position: absolute;
  top: 0;
  left: 10%;
	font-family:'Zapfino';
	font-size:69.6767px;
	height: 33%;
}

#brittany path {
  fill: #333;
  opacity: 0;
  animation: letters-outline 3s forwards;
}

#brittany line {
	stroke-dasharray: 330;
	stroke-dashoffset: 330;
  animation: line-stroke 3s forwards;
	stroke: #333;
	stroke-width: 2;
	stroke-miterlimit: 10;
}

#boulding {
  width: 50rem;
  position: absolute;
  bottom: 0;
  right: 10%;
	font-family:'Zapfino';
	font-size:69.6767px;
	height: 33%;
}

#boulding path {
  fill: #333;
	font-family:'Zapfino';
  opacity: 0;
  animation: letters-outline 3s forwards;
}

#boulding line {
	transform-origin: center;
	transform: rotate(180deg);
	stroke-dasharray: 460;
	stroke-dashoffset: 460;
  animation: boulding-line-stroke 5s forwards;
	stroke: #333;
	stroke-width: 2;
	stroke-miterlimit: 10;
}

#bb_logo {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	fill: #333;
	height: 80%;
}

.header {
	border: 2px dashed red;
	height: 100vh;
	width: 100%;
	// background-image: url('../B-9870.jpg');
	background-color: white;
	background-position: bottom left;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

@keyframes letters-outline {
  from {
		opacity: 0;
  }
  to {
		opacity: 1;
  }
}

@keyframes line-stroke {
	from {
		opacity: 0;
		stroke-dashoffset: 330
	}
	to {
		opacity: 1;
		stroke-dashoffset: 0;
	}
}

@keyframes boulding-line-stroke {
	from {
		opacity: 0;
		stroke-dashoffset: 460
	}
	to {
		opacity: 1;
		stroke-dashoffset: 0;
	}
}
